
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-l">Non valid request</h1>
        <span class="govuk-hint">case reference: XXXXXXXX</span>
        <p class="govuk-body">
           In order for this to be a valid request we must have:
            <ul class="govuk-list govuk-list--bullet">
                <li>a requesters name</li>
                <li>the requesters address</li>
                <li>what is the question</li>
            </ul>
        </p>

        <h2 class="govuk-heading-m">Next steps</h2>

        <ul class="govuk-list">
            <li>If you have the information you can
                <a href="check-your-answers.html" class="govuk-link">
                return to the previous screen and add information yourself
                </a>
            </li>
            <li>
                If you do not have the information
                <a href="../../../response/non-valid.html" class="govuk-link">
                    Download a template to inform the requester
                </a>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
{% block scripts%}
<script src="../../public/javascripts/valid-request.js"></script>
{% endblock %}