
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-s">Request type</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            FoI
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exemptions.html">
              Change<span class="govuk-visually-hidden"> request type</span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-s">Response method</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Email
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exemptions.html">
              Change<span class="govuk-visually-hidden"> response method</span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-s">Exemptions</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Section 22
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exemptions.html">
              Change<span class="govuk-visually-hidden"> exemption</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Section 44
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exemptions.html">
              Change<span class="govuk-visually-hidden"> exemption</span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-s">Outcome</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Partial release
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="outcome.html">
              Change<span class="govuk-visually-hidden"> outcome</span>
            </a>
          </dd>
        </div>
      </dl>
      <a class="govuk-button" href="confirmation.html">Confirm and dispatch</a><br>
      <a class="govuk-back-link">Back</a>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
