
{% extends "layout_correspondence.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Which exceptions were applied?
                    </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small checkboxes-columns" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-21" name="organisation" type="checkbox" value="21">
                        <label class="govuk-label govuk-checkboxes__label" for="section-21">
                            12 (4a)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-22" name="organisation" type="checkbox" value="22">
                        <label class="govuk-label govuk-checkboxes__label" for="section-22">
                            12 (4b)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-23" name="organisation" type="checkbox" value="23">
                        <label class="govuk-label govuk-checkboxes__label" for="section-23">
                            12 (4c)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-24" name="organisation" type="checkbox" value="24">
                        <label class="govuk-label govuk-checkboxes__label" for="section-24">
                            12 (4b)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-25" name="organisation" type="checkbox" value="25">
                        <label class="govuk-label govuk-checkboxes__label" for="section-25">
                            12 (4c)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-26" name="organisation" type="checkbox" value="26">
                        <label class="govuk-label govuk-checkboxes__label" for="section-26">
                            12 (4d)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-27" name="organisation" type="checkbox" value="27">
                        <label class="govuk-label govuk-checkboxes__label" for="section-27">
                            12 (4e)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-28" name="organisation" type="checkbox" value="28">
                        <label class="govuk-label govuk-checkboxes__label" for="section-28">
                            12 (5a)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-29" name="organisation" type="checkbox" value="29">
                        <label class="govuk-label govuk-checkboxes__label" for="section-29">
                            12 (5b)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-30" name="organisation" type="checkbox" value="30">
                        <label class="govuk-label govuk-checkboxes__label" for="section-30">
                            12 (5c)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-31" name="organisation" type="checkbox" value="31">
                        <label class="govuk-label govuk-checkboxes__label" for="section-31">
                            12 (5d)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-32" name="organisation" type="checkbox" value="32">
                        <label class="govuk-label govuk-checkboxes__label" for="section-32">
                            12 (5e)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-33" name="organisation" type="checkbox" value="33">
                        <label class="govuk-label govuk-checkboxes__label" for="section-33">
                            12 (5f)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-34" name="organisation" type="checkbox" value="34">
                        <label class="govuk-label govuk-checkboxes__label" for="section-34">
                            12 (5g)
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
      <br>
        <a href="check-your-answers.html" class="govuk-button" data-module="govuk-button">
            Apply exemption(s)
        </a>
    </div>

  </div>

{% endblock %}
{% block scripts%}
<script src="../../public/javascripts/valid-request.js"></script>
{% endblock %}