
{% extends "layout_correspondence.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <h1 class="govuk-heading-l" id="anotherappeal">
            Case outcome<span class="govuk-caption-xl">Request: <strong>XXXXXXXXXX</strong></span>
        </h1>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                    What is the outcome of this case?
                </legend>
                <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="vexatious" name="outcome" type="radio" value="vexatious">
                        <label class="govuk-label govuk-radios__label" for="vexatious">
                            Request vexatious - section 14 (1)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="repeat" name="outcome" type="radio" value="repeat">
                        <label class="govuk-label govuk-radios__label" for="repeat">
                            Repeat request - section 14 (2)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="unclear" name="outcome" type="radio" value="unclear">
                        <label class="govuk-label govuk-radios__label" for="unclear">
                            Request unclear / advice and assistance provided
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="no-information" name="outcome" type="no-information" value="no-information">
                        <label class="govuk-label govuk-radios__label" for="no-information">
                            No information found/held
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="witheld-full" name="outcome" type="radio" value="witheld-full">
                        <label class="govuk-label govuk-radios__label" for="witheld-full">
                            Information witheld in full
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="released-in-full" name="outcome" type="radio" value="released-in-full">
                        <label class="govuk-label govuk-radios__label" for="released-in-full">
                            Information released in full
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="released-in-part" name="outcome" type="radio" value="released-in-part">
                        <label class="govuk-label govuk-radios__label" for="released-in-part">
                            Information released in part
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="already-in-public-domain" name="outcome" type="radio" value="already-in-public-domain">
                        <label class="govuk-label govuk-radios__label" for="already-in-public-domain">
                            Information already in public domain
                        </label>
                    </div>
<!--                    <div class="govuk-radios__item">-->
<!--                        <input class="govuk-radios__input" id="full-disclosure" name="where-do-you-live" type="radio" value="full-disclosure">-->
<!--                        <label class="govuk-label govuk-radios__label" for="full-disclosure">-->
<!--                            Information released in full-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="govuk-radios__item">-->
<!--                        <input class="govuk-radios__input" id="full-disclosure" name="where-do-you-live" type="radio" value="full-disclosure">-->
<!--                        <label class="govuk-label govuk-radios__label" for="full-disclosure">-->
<!--                            Information released in full-->
<!--                        </label>-->
<!--                    </div>-->
                </div>

            </fieldset>
        </div>

        <a class="govuk-button" href="#">Record outcome and dispatch request</a>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading-m">
                        Which exemptions were applied?
                    </h2>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small checkboxes-coloums" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-21" name="organisation" type="checkbox" value="21">
                        <label class="govuk-label govuk-checkboxes__label" for="section-21">
                            Section 21
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-22" name="organisation" type="checkbox" value="22">
                        <label class="govuk-label govuk-checkboxes__label" for="section-22">
                            Section 22
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-23" name="organisation" type="checkbox" value="23">
                        <label class="govuk-label govuk-checkboxes__label" for="section-23">
                            Section 23
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-24" name="organisation" type="checkbox" value="24">
                        <label class="govuk-label govuk-checkboxes__label" for="section-24">
                            Section 24
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-25" name="organisation" type="checkbox" value="25">
                        <label class="govuk-label govuk-checkboxes__label" for="section-25">
                            Section 25
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-26" name="organisation" type="checkbox" value="26">
                        <label class="govuk-label govuk-checkboxes__label" for="section-26">
                            Section 26
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-27" name="organisation" type="checkbox" value="27">
                        <label class="govuk-label govuk-checkboxes__label" for="section-27">
                            Section 27
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-28" name="organisation" type="checkbox" value="28">
                        <label class="govuk-label govuk-checkboxes__label" for="section-28">
                            Section 28
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-29" name="organisation" type="checkbox" value="29">
                        <label class="govuk-label govuk-checkboxes__label" for="section-29">
                            Section 29
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-30" name="organisation" type="checkbox" value="30">
                        <label class="govuk-label govuk-checkboxes__label" for="section-30">
                            Section 30
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-31" name="organisation" type="checkbox" value="31">
                        <label class="govuk-label govuk-checkboxes__label" for="section-31">
                            Section 31
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-32" name="organisation" type="checkbox" value="32">
                        <label class="govuk-label govuk-checkboxes__label" for="section-32">
                            Section 32
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-33" name="organisation" type="checkbox" value="33">
                        <label class="govuk-label govuk-checkboxes__label" for="section-33">
                            Section 33
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-34" name="organisation" type="checkbox" value="34">
                        <label class="govuk-label govuk-checkboxes__label" for="section-34">
                            Section 34
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-35" name="organisation" type="checkbox" value="35">
                        <label class="govuk-label govuk-checkboxes__label" for="section-35">
                            Section 35
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-36" name="organisation" type="checkbox" value="36">
                        <label class="govuk-label govuk-checkboxes__label" for="section-36">
                            Section 36
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-37" name="organisation" type="checkbox" value="37">
                        <label class="govuk-label govuk-checkboxes__label" for="section-37">
                            Section 37
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-38" name="organisation" type="checkbox" value="38">
                        <label class="govuk-label govuk-checkboxes__label" for="section-38">
                            Section 38
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-39" name="organisation" type="checkbox" value="39">
                        <label class="govuk-label govuk-checkboxes__label" for="section-39">
                            Section 39
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-40" name="organisation" type="checkbox" value="40">
                        <label class="govuk-label govuk-checkboxes__label" for="section-40">
                            Section 40
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-41" name="organisation" type="checkbox" value="41">
                        <label class="govuk-label govuk-checkboxes__label" for="section-41">
                            Section 41
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-42" name="organisation" type="checkbox" value="42">
                        <label class="govuk-label govuk-checkboxes__label" for="section-42">
                            Section 42
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-43" name="organisation" type="checkbox" value="43">
                        <label class="govuk-label govuk-checkboxes__label" for="section-43">
                            Section 43
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="section-44" name="organisation" type="checkbox" value="44">
                        <label class="govuk-label govuk-checkboxes__label" for="section-44">
                            Section 44
                        </label>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
  </div>

{% endblock %}