
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Design review and testing items
    </h1>


    <h2 class="govuk-heading-m">About this page</h2>

    <p>This is a list of all prototypes for <strong>design review</strong> and their current status.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"> User Journey/page </th>
      <th class="govuk-table__header" scope="col"> Status </th>
      <th class="govuk-table__header" scope="col"> Link </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Address capture
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="foi/create-and-draft/workstack.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Workstacks
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="foi/create-and-draft/workstack.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Dashboard
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="foi/create-and-draft/workstack.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Escalated cases
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="foi/create-and-draft/workstack.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Text inputs
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Ready
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="inputs/index.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Dashboard
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          InProgress
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="dashboard/index.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Case page
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          InProgress
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="dashboard/case-page.html">view</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>

<!--  <div class="govuk-grid-row">-->
<!--    <div class="govuk-grid-column-one-third">-->
<!--      <h1 class="govuk-heading-xl">-->
<!--        The GOV.UK Prototype Kit-->
<!--        <span class="govuk-caption-xl">{{releaseVersion}}</span>-->
<!--      </h1>{{releaseVersion | log }}-->
<!--      <p>-->
<!--        This kit lets you rapidly create HTML prototypes of GOV.UK services.-->
<!--      </p>-->

<!--      <p>-->
<!--        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.-->
<!--      </p>-->

<!--      <h2 class="govuk-heading-m">About this page</h2>-->

<!--      <p>We recommend you add links to your prototype to this page, rather than delete it.-->
<!--        You'll find this page in the kit at '/app/views/index.html'.</p>-->

<!--      <p>You can change the service name by editing the file '/app/config.js'.</p>-->

<!--      <a href="cms/index">Complaints</a>-->
<!--      <h2 class="govuk-heading-m">Examples and documentation</h2>-->

<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--        <li>-->
<!--          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="govuk-grid-column-two-thirds">-->
<!--      {% block rightr %}-->
<!--      {% include "includes/decs.html" %}-->
<!--      {% endblock %}-->
<!--    </div>-->
<!--  </div>-->

{% endblock %}
