
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Dashboard
    </h1>
    <div class="govuk-form-group">
      <span class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
        Find a case or request
      </label>
      </span>
      <div id="event-name-hint" class="govuk-hint">
        For example request topic, requester name or case reference number
      </div>
      <div class="search-group">
        <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        <span class="search-button govuk-body">Find</span>
      </div>
    </div>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You have 37 escalated cases.
          <a class="govuk-notification-banner__link" href="#">View escalated cases</a>.
        </p>
      </div>
    </div>

  </div>
</div>
  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Your cases 21</h2>
      <div class="card_feature">
        <p>is this red</p>
        <div href="" class="govuk-heading-m card-title">
          <span>2</span>
          <br>
          <span>Escalated cases</span>
        </div>
      </div>
    </div>

  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Manager cases</h2>
    <div class="card">
      <div href="" class="govuk-heading-m card-title">
        <span>2</span>
        <br>
        <span>Cases</span>
      </div>
    </div>
    <div class="card-status-blue">
      <span class="status-text">0 Unallocated cases</span> <span></span>
    </div>
    <div class="card-status-red">
      <span class="status-text">2 Overdue cases</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Manager cases</h2>
    <div class="card">
      <div href="" class="govuk-heading-m card-title">
        <span>2</span>
        <br>
        <span>Cases</span>
      </div>
    </div>
    <div class="card-status-blue">
      <span class="status-text">0 Unallocated cases</span> <span></span>
    </div>
    <div class="card-status-red">
      <span class="status-text">2 Overdue cases</span>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Triage team cases</h2>
    <div class="card">
      <div href="" class="govuk-heading-m card-title">
        <span>2</span>
        <br>
        <span>Cases</span>
      </div>
    </div>
    <div class="card-status-blue">
      <span class="status-text">0 Unallocated cases</span> <span></span>
    </div>
    <div class="card-status-red">
      <span class="status-text">2 Overdue cases</span>
    </div>
  </div>
</div>


{% endblock %}
