
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Dashboard design
    </h1>

    <h2 class="govuk-heading-m">About this work</h2>
    <p class="govuk-body">Exploring design options for design improvements to the dashboard. </p>
    <h2 class="govuk-heading-m">Design 1</h2>
    <p>Improvements to the search bar</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>During research sessions it users found it difficult to use the search input. This design adds a direct call to action and adds text to advise the user on how they can use this component.</li>
      </ul>
      <p>Introducing an information panel</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Various tenants on DECs require attention to be brought to specific lists or types of cases we have introduced an info panel </li>
    </ul>
    <p><a class="govuk-link" href="dashboard-3.html">View</a></p>

    <h2 class="govuk-heading-m">Design 2</h2>
    <p>Exploring using tags as case counts.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The current design shows unallocated and overdue cases during user testing sessions user attempted to interact with the the counts. This design adds links to the counts.
        This would also require a change to DECS to create workstacks that show unallocated or overdue cases.   </li>
      <li>This design also brings tag designs into the dashboard the purpose of using the tags is to improve the use of colour and also to increase familiarity
      of the tags as they are also used on workstacks. <a href="../tags/tags.html">see tags page</a></li>
    </ul>
    <p>
    <a class="govuk-link" href="dashboard-2.html">view</a>
    </p>
    <h2 class="govuk-heading-m">Design 3</h2>
    <p>Managers dashboard a design concept to for managers or team leaders to get a high level view of current case loads this is a cross over between the current dashboard and productivity and
      performance work
    <a href="dashboard-3.html">view</a>
    </p>
    <ul class="govuk-list">
      <li></li>
      <li></p></li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <h2></h2>
</div>


<!--  <div class="govuk-grid-row">-->
<!--    <div class="govuk-grid-column-one-third">-->
<!--      <h1 class="govuk-heading-xl">-->
<!--        The GOV.UK Prototype Kit-->
<!--        <span class="govuk-caption-xl">{{releaseVersion}}</span>-->
<!--      </h1>{{releaseVersion | log }}-->
<!--      <p>-->
<!--        This kit lets you rapidly create HTML prototypes of GOV.UK services.-->
<!--      </p>-->

<!--      <p>-->
<!--        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.-->
<!--      </p>-->

<!--      <h2 class="govuk-heading-m">About this page</h2>-->

<!--      <p>We recommend you add links to your prototype to this page, rather than delete it.-->
<!--        You'll find this page in the kit at '/app/views/index.html'.</p>-->

<!--      <p>You can change the service name by editing the file '/app/config.js'.</p>-->

<!--      <a href="cms/index">Complaints</a>-->
<!--      <h2 class="govuk-heading-m">Examples and documentation</h2>-->

<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--        <li>-->
<!--          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="govuk-grid-column-two-thirds">-->
<!--      {% block rightr %}-->
<!--      {% include "includes/decs.html" %}-->
<!--      {% endblock %}-->
<!--    </div>-->
<!--  </div>-->

{% endblock %}
