.card {
  background-color:  govuk-colour("light-grey");
  padding:10px;
  display: flex;
  flex-direction: row;
  font-family: "GDS Transport", arial, sans-serif;

  &.design-two {
    background-color: transparent;
    flex-direction: column;
  }

  &_feature {
    color:red;
    background-color: #0B0C0C;
  }
  &-title {
    text-decoration: none;
    margin-bottom: 0;
  }
}
.card__actions {
  padding:10px;
}

.card-status {
  //background-color: govuk-colour("orange");
  padding:0 10px;

  &-blue {
    background-color:govuk-colour("blue");
    padding:4px 10px;

    .status-text {
      color: govuk-colour("white");
      font-weight: bold;
      margin: 0;
      font-family: "GDS Transport", arial, sans-serif;
    }
  }
  &-red {
    background-color: govuk-colour("red");
    padding:4px 10px;

    .status-text {
      color: govuk-colour("white");
      font-weight: bold;
      margin: 0;
      font-family: "GDS Transport", arial, sans-serif;
    }
  }


  .status-text {
    color: govuk-colour("white");
    font-weight: bold;
    font-family: "GDS Transport", arial, sans-serif;
  }
}