
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <form action="confirmation.html">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            Allocate this case to a business area
                        </h1>
                        <span class="govuk-caption-xl">Request: <strong>XXXXXXXXXX</strong></span>
                    </legend>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="group">
                            Select Group
                        </label>
                        <select class="govuk-select" id="group" name="group">
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>
                            <option value="group">Group name</option>

                        </select>
                        </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="directorate">
                            Select Directorate
                        </label>
                        <select class="govuk-select" id="directorate" name="directorate">
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>
                            <option value="directorate">Directorate name</option>

                        </select>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="unit">
                            Select Unit
                        </label>
                        <select class="govuk-select" id="unit" name="unit">
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>
                            <option value="unit">Unit name</option>

                        </select>
                    </div>

                </fieldset>

            </div>
            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Allocate case
            </button>
            <br>

        </form>
        <a href="workstack.html" class="govuk-back-link">Back</a>

    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs-actions.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
