
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Case allocated to :
            </h1>
            <div class="govuk-panel__body">
                Team name
            </div>

        </div>
        <p class="govuk-body">
           Case <strong>XXXXXXXX</strong> has been allocated to XXXXXXXX.
        </p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">
            <ul class="govuk-list">
                <li><a href="../create/dashboard.html" class="govuk-link">Return to your dashboard</a></li>
                <li><a href="../create/create-case.html" class="govuk-link">create another case</a></li>
            </ul>




        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
{% block scripts%}
<script src="../../public/javascripts/valid-request.js"></script>
{% endblock %}