
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Freedom of information prototypes
    </h1>


    <h2 class="govuk-heading-m">About this page</h2>

    <p>This is a list of all prototypes for <strong>Freedom of information</strong> and their current status.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"> User Journey/page </th>
      <th class="govuk-table__header" scope="col"> Status </th>
      <th class="govuk-table__header" scope="col"> Link </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Case creation
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--blue">
          active
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="../foi/create/dashboard.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Approvals
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="../foi/approval/approve.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Create and draft
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="../foi/create-and-draft/workstack.html">view</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Pit extensions
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
          Inactive
        </strong>
      </td>
      <td class="govuk-table__cell" >
        <a class="govuk-link" href="../foi/create-and-draft/workstack.html">view</a>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
</div>


{% endblock %}
