
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Freedom of information prototypes
    </h1>


    <h2 class="govuk-heading-m">About this page</h2>

    <p>This is a list of all prototypes for <strong>Freedom of information</strong> and their current status.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">1. Case creation</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="create/create-case.html">Create a case (valid request)</a></li>
    </ul>
    <h3 class="govuk-heading-m">Version 2</h3>
    <p></p>
    <ul class="govuk-list">
      <li><a href="create/v2/create-case.html">Create a case (valid request)</a></li>
      <li><a href="create/v2/unhappy/create-case.html">Create a case (invalid request)</a></li>
    </ul>
    <h2 class="govuk-heading-l">2. Initial Response</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="response/index.html">Case validity check</a></li>
      <li><a href="response/valid.html">Respond to valid request</a></li>
      <li><a href="response/non-valid.html">Respond to non valid request</a></li>
    </ul>
    <h2 class="govuk-heading-l">3. Case allocation</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="allocate/allocate.html">allocate a case</a></li>
    </ul>
    <h2 class="govuk-heading-l">4 Case acceptance</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="Accept/workstack.html">start at work stack</a></li>
      <li><a href="Accept/rejected-workstack.html">case rejected KIMU workstack view</a></li>
    </ul>
    <h2 class="govuk-heading-l">5. Draft</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="">create a case</a></li>
    </ul>

    <h2 class="govuk-heading-l">6. Approval</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="approval/index.html">Send for approval</a></li>
<!--      <li><a href="approval/spad-review-complete.html">Review complete</a>(WIP)</li>-->
    </ul>
    <h2 class="govuk-heading-l">7. Final response/dispatch</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="dispatch/workstack.html">Dispatch case from workstack</a></li>
      <li><a href="dispatch/outcome.html">Dispatch case page</a></li>
    </ul>

    <h2 class="govuk-heading-l">8. Appeals</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="appeals/index.html">Log an appeal</a></li>
    </ul>

<!--    <table class="govuk-table">-->
<!--    <thead class="govuk-table__head">-->
<!--    <tr class="govuk-table__row">-->
<!--      <th class="govuk-table__header" scope="col"> User Journey/page </th>-->
<!--      <th class="govuk-table__header" scope="col"> Status </th>-->
<!--      <th class="govuk-table__header" scope="col"> Link </th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody class="govuk-table__body">-->
<!--    <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell">-->
<!--        Case creation-->
<!--      </td>-->
<!--      <td class="govuk-table__cell">-->
<!--        <strong class="govuk-tag govuk-tag&#45;&#45;blue">-->
<!--          active-->
<!--        </strong>-->
<!--      </td>-->
<!--      <td class="govuk-table__cell" >-->
<!--        <a class="govuk-link" href="../foi/create/dashboard.html">view</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell">-->
<!--        Approvals-->
<!--      </td>-->
<!--      <td class="govuk-table__cell">-->
<!--        <strong class="govuk-tag govuk-tag&#45;&#45;grey">-->
<!--          Inactive-->
<!--        </strong>-->
<!--      </td>-->
<!--      <td class="govuk-table__cell" >-->
<!--        <a class="govuk-link" href="../foi/approval/approve.html">view</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell">-->
<!--        Create and draft-->
<!--      </td>-->
<!--      <td class="govuk-table__cell">-->
<!--        <strong class="govuk-tag govuk-tag&#45;&#45;grey">-->
<!--          Inactive-->
<!--        </strong>-->
<!--      </td>-->
<!--      <td class="govuk-table__cell">-->
<!--        <a class="govuk-link" href="../foi/create-and-draft/workstack.html">view</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr class="govuk-table__row">-->
<!--      <td class="govuk-table__cell">-->
<!--        Pit extensions-->
<!--      </td>-->
<!--      <td class="govuk-table__cell">-->
<!--        <strong class="govuk-tag govuk-tag&#45;&#45;grey">-->
<!--          Inactive-->
<!--        </strong>-->
<!--      </td>-->
<!--      <td class="govuk-table__cell" >-->
<!--        <a class="govuk-link" href="../foi/create-and-draft/workstack.html">view</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
  </div>
  <div class="govuk-grid-column-one-third">
<!--    <h2 class="govuk-heading-m">Tasks</h2>-->
<!--    <hr class="govuk-section-break govuk-section-break&#45;&#45;m govuk-section-break&#45;&#45;visible">-->
<!--    <ul class="govuk-list">-->
<!--      <li><a href="exemptions/index.html#actions">Exemptions</a></li>-->
<!--      <li><a href="">Case escalation</a></li>-->
<!--    </ul>-->

    <h2 class="govuk-heading-m">Pages</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="">Dashboard</a></li>
      <li><a href="workstack.html">Workstack</a></li>

    </ul>
  </div>
</div>


{% endblock %}
