
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Tags
    </h1>
  </div>
</div>

  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-full">
      <div class="govuk-!-padding-bottom-6">
      <h2 class="govuk-heading-m">GDS tags</h2>
      <span class="govuk-tag govuk-tag--red ">Red</span>
      <span class="govuk-tag govuk-tag--orange ">Orange</span>
      <span class="govuk-tag govuk-tag--grey ">grey</span>
      <span class="govuk-tag govuk-tag--blue ">blue</span>
      <span class="govuk-tag govuk-tag--green ">green</span>
      <span class="govuk-tag govuk-tag--inactive">inactive</span>
      <span class="govuk-tag govuk-tag--pink">pink</span>
      <span class="govuk-tag govuk-tag--purple">purple</span>
      <span class="govuk-tag govuk-tag--turquoise">turquoise</span>
      <span class="govuk-tag govuk-tag--yellow">yellow</span>
      <span class="govuk-tag">default</span>
      <br>
      </div>
      <div>
      <h2 class="govuk-heading-m">Applying tags to status'</h2>
      <span class="govuk-tag govuk-tag--red ">OverDue</span>
      <span class="govuk-tag govuk-tag--orange ">Escalated</span>
      <span class="govuk-tag govuk-tag--grey ">grey</span>
      <span class="govuk-tag govuk-tag--blue ">blue</span>
      <span class="govuk-tag govuk-tag--green ">green</span>
      <span class="govuk-tag govuk-tag--inactive">Closed</span>
      <span class="govuk-tag govuk-tag--pink">pink</span>
      <span class="govuk-tag govuk-tag--purple">purple</span>
      <span class="govuk-tag govuk-tag--turquoise">turquoise</span>
      <span class="govuk-tag govuk-tag--yellow">yellow</span>
      <span class="govuk-tag">Information</span>
      </div>
    </div>

  </div>



{% endblock %}
