
{% extends "layout_correspondence.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

        <h1 class="govuk-heading-l" id="anotherappeal">
            Outcome<span class="govuk-caption-xl">Request: <strong>XXXXXXXXXX</strong></span>
        </h1>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                  Data Input
                                </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Data input content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                  KIMU Allocation
                                </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p class='govuk-body'>KIMU content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                                  Drafting
                                </span>
                    </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p class='govuk-body'>KIMU content</p>
                </div>
            </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                                  Approval
                                </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p class='govuk-body'>KIMU content</p>
                </div>
            </div>


        </div>
        <h3 class="govuk-heading-m">Case outcome</h3>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                    What is the outcome of this case?
                </legend>
                <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                            No release (procedural)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                            Neither confirm nor deny
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                            Confirm information is held but refusing to release
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="public-interest" name="where-do-you-live" type="radio" value="public-interest">
                        <label class="govuk-label govuk-radios__label" for="public-interest">
                            Public interest
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="partial-disclosure" name="where-do-you-live" type="radio" value="partial-disclosure">
                        <label class="govuk-label govuk-radios__label" for="partial-disclosure">
                            Partial disclosure
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="full-disclosure" name="where-do-you-live" type="radio" value="full-disclosure">
                        <label class="govuk-label govuk-radios__label" for="full-disclosure">
                            Full disclosure
                        </label>
                    </div>
                </div>

            </fieldset>
        </div>

        <a class="govuk-button" href="../dispatch/index.html">Continue</a>

    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}