
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Case accepted
            </h1>
            <div class="govuk-panel__body">
                Case deadline: of 12 August 2021
            </div>

        </div>



        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">
            <ul class="govuk-list">
                <li><a href="../create/dashboard.html" class="govuk-link">Return to your dashboard</a></li>
                <li><a href="draft" class="govuk-link">continue to drafting</a></li>
            </ul>

        </p>
            <br>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
{% block scripts%}
<script src="../../public/javascripts/valid-request.js"></script>
{% endblock %}