
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Case rejected
            </h1>
        </div>
        <p class="govuk-body">
           Case <strong>XXXXXXXX</strong> has been returned to XXXXXX workstack
            <a href="" class="govuk-link">view</a>.
        </p>
        <p>case deadline: of 12 August 2021</p>

        <h2 class="govuk-heading-m">Next steps</h2>
        <p class="govuk-body">
            <a href="workstack.html" class="govuk-link">Return to your dashboard</a><br>
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
{% block scripts%}
<script src="../../public/javascripts/valid-request.js"></script>
{% endblock %}