
{% extends "layout_correspondence.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <form action="another-exemption.html" >
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Apply an exemption<span class="govuk-caption-xl">Request: <strong>XXXXXXXXXX</strong></span>
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="sort">
                            Which type of exemption would you like to apply?
                        </label>
                        <select class="govuk-select" id="sort" name="sort">
                            <option value="section-22" selected>Section 22</option>
                            <option value="section-23">Section 23</option>
                            <option value="section-24">Section 24</option>
                            <option value="section-25">Section 25</option>
                            <option value="section-26">Section 26</option>
                            <option value="section-27">Section 27</option>
                            <option value="section-28">Section 28</option>
                            <option value="section-29">Section 29</option>
                            <option value="section-30">Section 30</option>
                            <option value="section-31">Section 31</option>
                            <option value="section-32">Section 32</option>
                            <option value="section-33">Section 33</option>
                            <option value="section-34">Section 34</option>
                            <option value="section-35">Section 35</option>
                            <option value="section-36">Section 36</option>
                            <option value="section-37">Section 37</option>
                            <option value="section-38">Section 38</option>
                            <option value="section-39">Section 39</option>
                            <option value="section-40">Section 40</option>
                            <option value="section-41">Section 41</option>
                            <option value="section-42">Section 42</option>
                            <option value="section-43">Section 43</option>
                            <option value="section-44">Section 44</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <br>
            <button class="govuk-button" data-module="govuk-button">
                Apply exemption
            </button>
            <br>
            <a href="index.html#actions" class="govuk-back-link">Back</a>
        </div>
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs-actions.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
