
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

        <h1 class="govuk-heading-l">Respond to requester</h1>
        <span class="govuk-hint">case reference: XXXXXXXX</span>
        <div class="govuk-body">
            <p class="govuk-body">
                Download template
            </p>
            <ul class="govuk-list">
                <li><a href=""class="govuk-link">request template 1</a></li>
                <li><a href="" class="govuk-link">request template 2</a></li>
            </ul>

        </div>

        <br>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="response-issued-hint">
                <legend class="govuk-fieldset__legend govuk-heading-m">
                    When was the response sent
                </legend>
                <div id="response-issued-hint" class="govuk-hint">
                    For example, 12 11 2007
                </div>
                <div class="govuk-date-input" id="response-issued">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="response-issued-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="response-issued-day" name="response-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="response-issued-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="response-issued-month" name="response-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="response-issued-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="response-issued-year" name="response-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                    </div>
                </div>

            </fieldset>
        </div>
        <h2 class="govuk-heading-m">Next steps</h2>

        <ul class="govuk-list">
            <li><a href="../allocate/allocate.html"class="govuk-link">allocate this case</a></li>
        </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
{% block scripts%}
<script src="../../public/javascripts/valid-request.js"></script>
{% endblock %}