
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form action="check-your-answers.html">
      <span class="govuk-caption-l">Step 2 of 2</span>
      <h1 class="govuk-heading-l">
        Record Correspondent details
      </h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-20">
          Full Name
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="building">
          Building
        </label>
        <input class="govuk-input govuk-input--width-20" id="building" name="width-20" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="street">
          Street
        </label>
        <input class="govuk-input govuk-input--width-20" id="street" name="width-20" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="town">
          Town or City
        </label>
        <input class="govuk-input govuk-input--width-20" id="town" name="width-20" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-6">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-6" id="width-6" name="width-4" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="country">
          Country
        </label>
        <select class="govuk-select" id="country" name="sort">
          <option value="published">Ireland</option>
          <option value="updated" selected>England</option>
          <option value="views">Wales</option>
          <option value="comments">Scotland</option>
        </select>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="phone">
          Telephone (optional)
        </label>
        <input class="govuk-input govuk-input--width-20" id="phone" name="width-20" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address (optional)
        </label>
        <input class="govuk-input govuk-input--width-20" id="email" name="width-20" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Requester’s Reference (optional)
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save
      </button>

      </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% block rightr %}
      {% include "includes/decs.html" %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
