
{% extends "layout_decs.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Topics
    </h1>
  </div>
</div>

  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">About this work</h2>
      <p>Looking at DCU topics</p>
      <p><a class="govuk-list" href="topics-list.html">View</a></p>
    </div>
  </div>



{% endblock %}
