
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      HOCS Design prototypes
    </h1>

    <h2 class="govuk-heading-m">About this page</h2>

    <p>This is a list of all prototypes for <strong>design review</strong> and their current status.</p>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Freedom of information
        <span class="govuk-caption-m">user journeys</span>
      </h2>
      <hr>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="findings/foi.html">Research and findings</a>
        </li>
        <li>
          <a class="govuk-link" href="foi/list.html">Prototype list</a>
        </li>
        <li>
          <a class="govuk-link" href="foi/create/v2/create-case.html">End to end</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">NPAM
        <span class="govuk-caption-m">user journeys</span>
      </h2>
      <hr>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="npam/take-next-case.html">Take next case</a>
        </li>
      </ul>
    </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">P & P
      <span class="govuk-caption-m">user journeys</span>
    </h2>
    <hr>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="productivity/index.html">Reports</a>
      </li>
    </ul>
  </div>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Design tasks
      <span class="govuk-caption-m">examples</span>
    </h2>
    <hr>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="design-review/list.html">Prototype list</a>
      </li>
    </ul>
  </div>

</div>

{% endblock %}
