
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    HOCS Design prototypes
  </h1>
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Freedom of information
        <span class="govuk-caption-m">user journeys</span>
      </h2>
      <p>user journerys</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="foi/step-one.html">I would like to create a new.....</a>
        </li>
        <li>
          <a class="govuk-link" href="#">I need to edit.......</a>
        </li>
        <li>
          <a class="govuk-link" href="#">I need to remove ......</a>
        </li>
        <li>
          <a class="govuk-link" href="#">I would like to .........</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Complaints
        <span class="govuk-caption-m">user journeys</span>
      </h2>
      <p>prototypes for this business area</p>
    </div>
  </div>


{% endblock %}
